._body{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.page_body{
	width: 100%;
	margin:0 auto;
	min-height:100%;
	padding:0;
	position:relative;
}

.page_middle{
	width:100%;
	margin-top: 50px;
	padding-bottom:80px
}

.register_button{
	padding:8 60 8 60;
	font-size:16px;
	font-weight:bold;
	width: auto;
	height:auto;
	border-radius:3px;
	background-color: #21B1E3;
	color: white;
	border: 1px solid #21B1E3
}
.login_button{
	padding:10 60 10 60;
	font-size:16px;
	font-weight:bold;
	width: auto;
	height:auto;
	border-radius:3px;
	background-color: #21B1E3;
	color: white;
	border: 1px solid #21B1E3
}

.manager_button{
	padding-left:10px;
	padding-right:10px;
	padding-top:4px;
	padding-bottom:4px;
	font-size:13px;
	width: auto;
	height:auto;
	border-radius:3px;
	background-color: #02AAF1;
	color: white;
	border: 1px solid #21B1E3
}

.buy_button{
	padding:10 40 10 40;
	font-size:13px;
	width: auto;
	height:auto;
	border-radius:3px;
	background-color: #FFE4D0;
	color: #E5511D;
	border: 1px solid #F0CAB6
}
.buy_button:HOVER{
	cursor: pointer;
	background-color: #F9E4D0;
}
.cart_button{
	padding:10 30 10 30;
	font-size:13px;
	width: auto;
	height:auto;
	border-radius:3px;
	background-color: #E92250;
	color: white;
	border: 1px solid #E92250;
}
.cart_button:HOVER{
	cursor: pointer;
	background-color: #F92250;
}

.register_button:HOVER,.login_button:HOVER,.manager_button:HOVER {
	cursor: pointer;
	background-color: #02AAF1;
}


a{color: #679AEF;text-decoration: none;} /* 未访问的链接 */
a:hover{color:#E06F6F;text-decoration:underline; }

