._body{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.page_body{
	width: 100%;
	margin:0 auto;
	min-height:100%;
	padding:0;
	position:relative;
}

.page_middle{
	width:100%;
	padding-bottom:120px;
	border-top: 1px solid #ddd;
	padding-top: 50px;
}

.register_button{
	padding:8 60 8 60;
	font-size:16px;
	font-weight:bold;
	width: auto;
	height:auto;
	border-radius:3px;
	background-color: #21B1E3;
	color: white;
	border: 1px solid #21B1E3
}
.login_button{
	padding:10 60 10 60;
	font-size:16px;
	font-weight:bold;
	width: auto;
	height:auto;
	border-radius:3px;
	background-color: #21B1E3;
	color: white;
	border: 1px solid #21B1E3
}

.manager_button{
	padding:4 10 4 10;
	font-size:13px;
	width: auto;
	height:auto;
	border-radius:3px;
	background-color: #24a0d6;
	color: white;
	border: 1px solid #21B1E3
}

.buy_button{
	padding:10 40 10 40;
	font-size:13px;
	width: auto;
	height:auto;
	border-radius:3px;
	background-color: #FFE4D0;
	color: #E5511D;
	border: 1px solid #F0CAB6
}
.buy_button:HOVER{
	cursor: pointer;
	background-color: #F9E4D0;
}
.cart_button{
	padding:10 30 10 30;
	font-size:13px;
	width: auto;
	height:auto;
	border-radius:3px;
	background-color: #E92250;
	color: white;
	border: 1px solid #E92250;
}
.cart_button:HOVER{
	cursor: pointer;
	background-color: #F92250;
}

.register_button:HOVER,.login_button:HOVER,.manager_button:HOVER,.searchBtn:HOVER {
	cursor: pointer;
	background-color: #02AAF1;
}

a{color: #679AEF;text-decoration: none;} /* 未访问的链接 */
a:hover{color:#E06F6F;text-decoration:underline; }

.listTable{
	width:100%;
	background-color: #dddddd;
	color:#192E32;
	font: 12px "sans-serif", "Arial", "Verdana";
}
.listTable th{
	font-weight:normal;
	font-size:13px;
	height:40px;
	line-height:35px;
	background-color: #FBFBFB;
	text-align: center;
	padding: 10px;
}
.listTable td{
	background-color: #FFF;
	padding: 10px;
}

/**收搜区域*/
.query_div{
	width: 80%;
	height: 40px;
	margin: 0px auto;
	font-size: 14px;
	color: #666666;
}

.searchInput{
    padding: 0px 4px;
    height: 28px;
    line-height: 28px;
    width: 200px;
    border: solid 1px #ddd;
}
.searchBtn {
    padding: 5px 15px 5px 15px;
    margin: 2px 2px;
    border: 1px solid #21B1E3;
    background: #24a0d6;
    color: #FFF;
    cursor: pointer;
    width: 100px;
}
.query_span{
	display: inline-block;width: 300px;
}
