<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cza.mapper.order.OrderMapper">
	<resultMap id="order" type="com.cza.dto.order.TOrder">
		<id property="oid" column="oid"/>
		<result property="uid" column="uid"/>
		<result property="userName" column="user_name"/>
		<result property="province" column="province"/>
		<result property="area" column="area"/>
		<result property="city" column="city"/>
		<result property="addr" column="addr"/>
		<result property="receiver" column="receiver"/>
		<result property="mobilphone" column="mobilphone"/>
		<result property="amount" column="amount"/>
		<result property="status" column="status"/>
		<result property="deleteDesc" column="delete_desc"/>
		<result property="payNo" column="pay_no"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="orderVersion" column="order_version"/>
		<collection property="details" ofType="com.cza.dto.order.TOrderDetail" column="oid">
			<id property="odid" column="odid"/>
			<result property="oid" column="b_oid"/>
			<result property="sid" column="sid"/>
			<result property="goodsName" column="goods_name"/>
			<result property="orderPrice" column="order_price"/>
			<result property="amount" column="b_amount"/>
			<result property="number" column="number"/>
			<result property="gid" column="gid"/>
		</collection>
	</resultMap>
		<select id="listOrder" parameterType="com.cza.dto.order.TOrder" resultMap="order">
		select 
			a.oid as oid,uid,province,area,city,addr,receiver,mobilphone,a.amount as amount,
			status,delete_desc,pay_no,create_time,update_time,order_version,user_name,
			odid,b.oid as b_oid,sid,goods_name,order_price,b.amount as b_amount,number,gid
		from t_order a,t_order_detail b where 
		a.oid=b.oid and a.oid in(
		SELECT oid FROM
  			(select a.oid
			from t_order a,t_order_detail b
				<where>
					and a.oid=b.oid
					and a.status!=0
					<if test="oid!=null">
						and a.oid like CONCAT(CONCAT('%',#{oid}),'%')
					</if>
					<if test="uid!=null">
						and a.uid = #{uid}
					</if>
					<if test="goodsName!=null and goodsName!=''">
						and b.goods_name like CONCAT(CONCAT('%',#{goodsName}),'%')
					</if>
					<if test="status!=null">
						and a.status=#{status}
					</if>
					<if test="createTime!=null">
						and a.create_time &lt; #{createTime}
					</if>
				</where>
				group by a.oid
				order by a.create_time desc
				limit #{start},#{pageSize}) AS c
		)
	</select>
	
		
	
	<select id="queryOrder" parameterType="java.lang.String" resultMap="order">
		select 
			a.oid as oid,uid,province,area,city,addr,receiver,mobilphone,a.amount as amount,
			status,delete_desc,pay_no,create_time,update_time,order_version,user_name,
			odid,b.oid as b_oid,sid,goods_name,order_price,b.amount as b_amount,number,gid
		from t_order a,t_order_detail b where a.oid=b.oid and a.oid= #{oid} 
	</select>
	
	<select id="countOrder" parameterType="com.cza.dto.order.TOrder" resultType="java.lang.Long">
		select count(oid) from(
		select a.oid
			from t_order a,t_order_detail b
				<where>
					and a.oid=b.oid
					<if test="oid!=null">
						and a.oid like CONCAT(CONCAT('%',#{oid}),'%')
					</if>
					<if test="uid!=null">
						and a.uid = #{uid}
					</if>
					<if test="goodsName!=null and goodsName!=''">
						and b.goods_name like CONCAT(CONCAT('%',#{goodsName}),'%')
					</if>
					<if test="status!=null">
						and a.status=#{status}
					</if>
					<if test="createTime!=null">
						and a.create_time &lt; #{createTime}
					</if>
				</where>
				group by a.oid)a
	</select>
	
	<sql id="allColumns">
			oid,uid,province,area,city,addr,receiver,mobilphone,amount,
			status,delete_desc,pay_no,create_time,update_time,order_version,gid,user_name
	</sql>
	
	
	<insert id="saveOrder" parameterType="com.cza.dto.order.TOrder">
			insert into t_order (
				oid,uid,province,area,city,addr,receiver,mobilphone,
				amount,create_time,update_time,order_version,user_name
			)
			values (
				#{oid},#{uid},#{province},#{area},#{city},#{addr},#{receiver},#{mobilphone},
				#{amount},#{createTime},#{updateTime},#{orderVersion},#{userName}
			)
	</insert>	
	<delete id="deleteOrder" parameterType="com.cza.dto.order.TOrder">
		delete from t_order 
		<where> 
			oid = #{oid}
			<if test="orderVersion!=null">
				and order_version = #{orderVersion}
			</if>
		</where>
	</delete>
	
	<update id="updateOrder" parameterType="com.cza.dto.order.TOrder">
		update t_order
		<set>
				<if test="status!=null">
					status=#{status},
				</if>
				<if test="updateTime!=null">
					update_time=#{updateTime},
				</if>
				<if test="deleteDesc!=null and deleteDesc!=''">
					delete_desc=#{deleteDesc},
				</if>
				<if test="payNo!=null and payNo!=''">
					pay_no=#{payNo},
				</if>
				<if test="orderVersion!=null">
					order_version = order_version+1,
				</if>
				<if test="addr!=null and addr!=''">
					addr = #{addr},
				</if>
				<if test="province!=null and province!=''">
					province = #{province},
				</if>
				<if test="area!=null and area!=''">
					area = #{area},
				</if>
				<if test="city!=null and city!=''">
					city = #{city},
				</if>
				<if test="receiver!=null and receiver!=''">
					receiver = #{receiver},
				</if>
				<if test="mobilphone!=null and mobilphone!=''">
					mobilphone = #{mobilphone},
				</if>
		</set>
		<where> 
				oid = #{oid}
			<if test="orderVersion!=null">
				and order_version = #{orderVersion}
			</if>
		</where>
	</update>
	
		<select id="listOrderIds" parameterType="com.cza.dto.order.TOrder" resultType="java.lang.String">
		select 
			oid
		from t_order 
			<where>
				<if test="uid!=null">
					and uid = #{uid}
				</if>
				<if test="status!=null">
					and status=#{status}
				</if>
				<if test="createTime!=null">
					and create_time &lt; #{createTime}
				</if>
			</where>
			limit #{start},#{pageSize}
	</select>
		
		
		
		<select id="queryHotCategory"  parameterType="com.cza.service.order.vo.OrderVo" resultType="java.lang.Long">
			SELECT cid FROM (SELECT 
			  g.cid AS cid ,COUNT(od.odid) AS num
			FROM
			  t_order_detail od,
			  t_order o ,
			  t_goods g
			WHERE od.oid = o.oid 
			  AND o.uid = #{uid}
			  AND od.gid=g.gid
			  GROUP BY g.cid)a
			  ORDER BY num DESC LIMIT 1;
		</select>
			
		<select id="queryAvgOrderPrice"  parameterType="com.cza.service.order.vo.OrderVo" resultType="java.math.BigDecimal">
			SELECT 
			  AVG(od.order_price) 
			FROM
			  t_order_detail od,
			  t_order o 
			WHERE od.oid = o.oid 
			  AND o.uid = #{uid} 
			  AND od.order_price NOT IN 
			  (SELECT 
			    MAX(od.order_price) 
			  FROM
			    t_order_detail od,
			    t_order o 
			  WHERE od.oid = o.oid 
			    AND o.uid = #{uid}  
			  UNION
			  SELECT 
			    MIN(od.order_price) 
			  FROM
			    t_order_detail od,
			    t_order o 
			  WHERE od.oid = o.oid 
			    AND o.uid = #{uid} ) ;
		</select>
</mapper>