<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cza.mapper.goods.GoodsMapper">
	<resultMap id="goods" type="com.cza.dto.goods.TGoods">
		<result property="goodsName" column="goods_name"/>
		<result property="goodsCode" column="goods_code"/>
		<result property="cid" column="cid"/>
		<result property="goodsPic" column="goods_pic"/>
		<result property="price" column="price"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="gid" column="gid"/>
		<result property="sales" column="sales"/>
		<result property="status" column="status"/>
		<result property="goodsIndex" column="goods_index"/>
	</resultMap>
	
	<sql id="allColumns">
			gid,goods_name,goods_code,cid,goods_pic,price,create_time,update_time,status,sales,goods_index
	</sql>
	
	<insert id="saveGoods" parameterType="com.cza.dto.goods.TGoods" useGeneratedKeys="true" keyProperty="gid" >
			insert into t_goods (
				goods_name,goods_code,cid,goods_pic,price,create_time,update_time,status,goods_index
			)
			values (
				#{goodsName}, #{goodsCode},#{cid},#{goodsPic},#{price},#{createTime},#{updateTime},#{status},#{goodsIndex}
			)
	</insert>	
	
	
	<select id="queryGoods" parameterType="java.lang.Long" resultMap="goods">
		select 
			<include refid="allColumns"></include>
		from t_goods 
			where 1=1 
			<if test="gid!=null">
				and gid = #{gid}
			</if>
			<if test="goodsCode!=null and goodsCode!=''">
				and goods_code = #{goodsCode}
			</if> 
			limit 0,2  <!-- 防止参数有误，查询量过大 -->
	</select>
	
	<select id="updateGoods" parameterType="com.cza.dto.goods.TGoods">
		update t_goods
		<set>
			<if test="goodsName!=null and goodsName!=''">
				goods_name = #{goodsName},
			</if>
			<if test="sales!=null">
				sales = #{sales},
			</if>
			<if test="goodsPic!=null and goodsPic!=''">
				goods_pic = #{goodsPic},
			</if>
			<if test="price!=null">
				price=#{price},
			</if>
			<if test="goodsCode!=null and goodsCode!=''">
				goods_code = #{goodsCode},
			</if>
			<if test="status!=null and status!=''">
				status = #{status},
			</if>
			<if test="updateTime!=null">
				update_time = #{updateTime},
			</if>
			<if test="goodsIndex!=null">
				goods_index = #{goodsIndex},
			</if>
		</set> 
		where gid = #{gid} 
	</select>
	
	
	<select id="listNewGoods" parameterType="com.cza.service.goods.vo.GoodsVo" resultMap="goods">
		select 
			<include refid="allColumns"></include>
		from t_goods 
			where status='O'
			order by gid desc
			limit #{start},#{pageSize};
	</select>
	
	
	<select id="listHotGoods" resultMap="goods">
		select 
			<include refid="allColumns"></include>
		from t_goods 
			where status='O'
			order by sales desc
			limit #{start},#{pageSize};
	</select>
	
	<select id="countGoods" parameterType="com.cza.service.goods.vo.GoodsVo" resultType="java.lang.Long">
		select 
			count(1)
		from t_goods 
			<where>
				<if test="gid!=null">
					and gid = #{gid}
				</if>
				<if test="cid!=null">
					and cid = #{cid}
				</if>
				<if test="goodsName!=null and goodsName!=''">
					and goods_name like CONCAT(CONCAT('%',#{goodsName}),'%')
				</if>
				<if test="price!=null">
					and price=#{price}
				</if>
				<if test="goodsCode!=null and goodsCode!=''">
					and goods_code = #{goodsCode}
				</if>
				<if test="status!=null and status!=''">
					and status = #{status}
				</if>
				<if test="goodsIndex!=null">
					and goods_index = #{goodsIndex}
				</if>
			</where>
	</select>
	
	
	<select id="listGoods" parameterType="com.cza.service.goods.vo.GoodsVo" resultMap="goods">
		select 
			<include refid="allColumns"></include>
		from t_goods 
			<where>
				<if test="gid!=null">
					and gid = #{gid}
				</if>
				<if test="cid!=null">
					and cid = #{cid}
				</if>
				<if test="goodsName!=null and goodsName!=''">
					and goods_name like CONCAT(CONCAT('%',#{goodsName}),'%')
				</if>
				<if test="price!=null">
					and price=#{price}
				</if>
				<if test="goodsCode!=null and goodsCode!=''">
					and goods_code = #{goodsCode}
				</if>
				<if test="status!=null and status!=''">
					and status = #{status}
				</if>
				<if test="goodsIndex!=null">
					and goods_index = #{goodsIndex}
				</if>
			</where>
			order by gid desc
			limit #{start},#{pageSize}
	</select>
		
		
	<select id="batchUpdateGoodsIndex"  parameterType="java.util.Map">
		<foreach collection="map" item="item" index="key" open="" close="" separator=";" >
			update t_goods set goods_index=#{item} WHERE gid = #{key}
    	</foreach>
	</select>
		
		
<!-- 	<select id="batchUpdateGoodsIndex">
	update t_goods set goods_index=3
		WHERE gid IN 
		<foreach collection="list" item="gid" open="(" close=")" separator=",">
    		#{gid}
    	</foreach>
	</select> -->
</mapper>