<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cza.mapper.goods.GoodsMapper">
	<resultMap id="goods" type="com.cza.dto.goods.TGoods">
		<result property="goodsName" column="goods_name"/>
		<result property="goodsCode" column="goods_code"/>
		<result property="cid" column="cid"/>
		<result property="goodsPic" column="goods_pic"/>
		<result property="price" column="price"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="gid" column="gid"/>
		<result property="sales" column="sales"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<sql id="allColumns">
			gid,goods_name,goods_code,cid,goods_pic,price,create_time,update_time,status,sales
	</sql>
	
	<insert id="saveGoods" parameterType="com.cza.dto.goods.TGoods" useGeneratedKeys="true" keyProperty="gid" >
			insert into t_goods (
				goods_name,goods_code,cid,goods_pic,price,create_time,update_time,status
			)
			values (
				#{goodsName}, #{goodsCode},#{cid},#{goodsPic},#{price},#{createTime},#{updateTime},#{status}
			)
	</insert>	
	
	
	<select id="queryGoods" parameterType="java.lang.Long" resultMap="goods">
		select 
			<include refid="allColumns"></include>
		from t_goods 
			where gid = #{gid} 
	</select>
	
	<select id="updateGoods" parameterType="com.cza.dto.goods.TGoods">
		update t_goods
		<set>
			<if test="goodsName!=null and goodsName!=''">
				goods_name = #{goodsName},
			</if>
			<if test="sales!=null">
				sales = #{sales},
			</if>
			<if test="goodsPic!=null and goodsPic!=''">
				goods_pic = #{goodsPic},
			</if>
			<if test="price!=null">
				price=#{price},
			</if>
			<if test="goodsCode!=null and goodsCode!=''">
				goods_code = #{goodsCode},
			</if>
			<if test="status!=null and status!=''">
				status = #{status},
			</if>
			<if test="updateTime!=null and updateTime!=''">
				update_time = #{updateTime},
			</if>
		</set> 
		where gid = #{gid} 
	</select>
	
	
	<select id="listNewGoods" resultMap="goods">
		select 
			<include refid="allColumns"></include>
		from t_goods 
			where status='O'
			order by gid desc
			limit 0,6;
	</select>
	
	
	<select id="listHotGoods" resultMap="goods">
		select 
			<include refid="allColumns"></include>
		from t_goods 
			where status='O'
			order by sales desc
			limit 0,6;
	</select>
	
	<select id="listGoods" parameterType="com.cza.dto.goods.TGoods" resultMap="goods">
		select 
			<include refid="allColumns"></include>
		from t_goods 
			<where>
				<if test="gid!=null">
					and gid = #{gid}
				</if>
				<if test="cid!=null">
					and cid = #{cid}
				</if>
				<if test="goodsName!=null and goodsName!=''">
					and goods_name = #{goodsName}
				</if>
				<if test="price!=null">
					and price=#{price}
				</if>
				<if test="goodsCode!=null and goodsCode!=''">
					and goods_code = #{goodsCode}
				</if>
				<if test="status!=null">
					and status = #{status}
				</if>
			</where>
	</select>
		
</mapper>