<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
                 
    <!-- 定义要执行的作业 -->       
	<bean id="CreateIndexJob" class="com.cza.web.task.CreateGoodsIndex"/>  
	<!-- 指定方法 -->
	<bean id="CreateIndexMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
	    <property name="targetObject">  
	        <ref bean="CreateIndexJob"/>  
	    </property>  
	    <property name="targetMethod">
	        <value>execute</value>  
	    </property>  
	</bean>  
	<!-- ======================== 调度触发器 ======================== -->  
	<bean id="CreateIndexTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
	    <property name="jobDetail" ref="CreateIndexMethod"></property>  
	    <property name="cronExpression" value="0 0/5 * * * ?"></property>  
	</bean>  
	
	
	<!-- 定义要执行的作业 -->       
	<bean id="UpdateIndexJob" class="com.cza.web.task.UpdateGoodsIndex"/>  
	<!-- 指定方法 -->
	<bean id="UpdateIndexMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
	    <property name="targetObject">  
	        <ref bean="UpdateIndexJob"/>  
	    </property>  
	    <property name="targetMethod">
	        <value>execute</value>  
	    </property>  
	</bean>  
	<!-- ======================== 调度触发器 ======================== -->  
	<bean id="UpdateIndexTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
	    <property name="jobDetail" ref="UpdateIndexMethod"></property>  
	    <property name="cronExpression" value="0 0/5 * * * ?"></property>  
	</bean>  
	
	
	<!-- 定义要执行的作业 -->       
	<bean id="DeleteIndexJob" class="com.cza.web.task.DeleteGoodsIndex"/>  
	<!-- 指定方法 -->
	<bean id="DeleteIndexMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
	    <property name="targetObject">  
	        <ref bean="DeleteIndexJob"/>  
	    </property>  
	    <property name="targetMethod">
	        <value>execute</value>  
	    </property>  
	</bean>  
	<!-- ======================== 调度触发器 ======================== -->  
	<bean id="DeleteIndexTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
	    <property name="jobDetail" ref="DeleteIndexMethod"></property>  
	    <property name="cronExpression" value="0 0/5 * * * ?"></property>  
	</bean>  
	
	
		
	<!-- 定义要执行的作业 -->       
	<bean id="UpdateNotPayOrderJob" class="com.cza.web.task.UpdateNotPayOrder"/>  
	<!-- 指定方法 -->
	<bean id="UpdateNotPayOrderMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
	    <property name="targetObject">  
	        <ref bean="UpdateNotPayOrderJob"/>  
	    </property>  
	    <property name="targetMethod">
	        <value>execute</value>  
	    </property>  
	</bean>  
	<!-- ======================== 调度触发器 ======================== -->  
	<bean id="UpdateNotPayOrderTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
	    <property name="jobDetail" ref="UpdateNotPayOrderMethod"></property>  
	    <property name="cronExpression" value="0 0/1 * * * ?"></property>  
	</bean>  
	
	
	<!-- ======================== 调度工厂 ======================== -->  
	<bean id="SpringJobSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
	    <property name="triggers">  
	        <list>  
	            <ref bean="CreateIndexTrigger"/>  
	            <ref bean="UpdateIndexTrigger"/>
	            <ref bean="DeleteIndexTrigger"/>
	            <ref bean="UpdateNotPayOrderTrigger"/>
	        </list>  
	    </property>  
	</bean>  
</beans>