<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
                 
    <!-- 定义要执行的作业 -->       
	<!-- 指定方法 -->
	<bean id="CreateGoodsIndexMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
	    <property name="targetObject">  
	        <ref bean="CreateGoodsIndexJob"/>  
	    </property>  
	    <property name="targetMethod">
	        <value>execute</value>  
	    </property>  
	</bean>  
	<!-- ======================== 调度触发器 ======================== -->  
	<bean id="CreateGoodsIndexTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
	    <property name="jobDetail" ref="CreateGoodsIndexMethod"></property>  
	    <property name="cronExpression" value="0 0/1 * * * ?"></property>  
	</bean>  
	
	
	<!-- 定义要执行的作业 -->       
	<!-- 指定方法 -->
	<bean id="UpdateGoodsIndexMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
	    <property name="targetObject">  
	        <ref bean="UpdateGoodsIndexJob"/>  
	    </property>  
	    <property name="targetMethod">
	        <value>execute</value>  
	    </property>  
	</bean>  
	<!-- ======================== 调度触发器 ======================== -->  
	<bean id="UpdateGoodsIndexTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
	    <property name="jobDetail" ref="UpdateGoodsIndexMethod"></property>  
	    <property name="cronExpression" value="0 0/1 * * * ?"></property>  
	</bean>  
	
	
	<!-- 指定方法 -->
	<bean id="DeleteGoodsIndexMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
	    <property name="targetObject">  
	        <ref bean="DeleteGoodsIndexJob"/>  
	    </property>  
	    <property name="targetMethod">
	        <value>execute</value>  
	    </property>  
	</bean>  
	<!-- ======================== 调度触发器 ======================== -->  
	<bean id="DeleteGoodsIndexTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
	    <property name="jobDetail" ref="DeleteGoodsIndexMethod"></property>  
	    <property name="cronExpression" value="0 0/1 * * * ?"></property>  
	</bean>  
	
	
		
	<!-- 指定方法 -->
	<bean id="CloseNotPayOrderMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
	    <property name="targetObject">  
	        <ref bean="CloseNotPayOrderJob"/>  
	    </property>  
	    <property name="targetMethod">
	        <value>execute</value>  
	    </property>  
	</bean>  
	<!-- ======================== 调度触发器 ======================== -->  
	<bean id="CloseNotPayOrderTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
	    <property name="jobDetail" ref="CloseNotPayOrderMethod"></property>  
	    <property name="cronExpression" value="0 0/1 * * * ?"></property>  
	</bean>  
	
	<!-- 指定方法 -->
	<bean id="DeletePreOrderMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
	    <property name="targetObject">  
	        <ref bean="DeletePreOrderJob"/>  
	    </property>  
	    <property name="targetMethod">
	        <value>execute</value>  
	    </property>  
	</bean>  
	<!-- ======================== 调度触发器 ======================== -->  
	<bean id="DeletePreOrderTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
	    <property name="jobDetail" ref="DeletePreOrderMethod"></property>  
	    <property name="cronExpression" value="0 0/1 * * * ?"></property>  
	</bean>  
	
	
	<!-- ======================== 调度工厂 ======================== -->  
	<bean id="SpringJobSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
	    <property name="triggers">  
	        <list>  
	            <ref bean="CreateGoodsIndexTrigger"/>  
	            <ref bean="UpdateGoodsIndexTrigger"/>
	            <ref bean="DeleteGoodsIndexTrigger"/>
	            <ref bean="CloseNotPayOrderTrigger"/>
	            <ref bean="DeletePreOrderTrigger"/>
	        </list>  
	    </property>  
	</bean>  
</beans>